.Rproj.user
.Rhistory
.RData
.Ruserdata
BIOL381.Rproj
l2
classdemos
l3
.DS_Store
l5.org
MatricesAndLists.R
AtomicVectors.R
dplyrLecture.R
notes.org
notes.org~
biol381.Rproj
CountAndMoreDplyr.R
ProbabillityDistributions.R
StarwarsTibble
StarwarsInfo.csv
